@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #8758ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 8px;
  font-size: 28px;
}

.TodoWrapper {
  background: #1A1A40;
  margin-top: 80px;
  padding: 32px;
  border-radius: 10px;
}

.TodoForm {
  width: 100%;
  margin-bottom: 16px;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #8758ff;
  padding: 8px 16px;
  margin-top: 16px;
  margin-bottom: 32px;
  width: 300px;
  color: #fff;
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.todo-btn {
  background: #8758ff;
  color: #fff;
  border: none;
  padding: 9px;
  cursor: pointer;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #8758ff;
  color: #fff;
  padding: 12px 16px;
  border-radius: 5px;
  margin-bottom: 16px;
}

.fa-trash {
  margin-left: 12px;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}
